main .container .card{
    width: 100%;
    height: auto;
}

main .container .card .card-footer textarea{
    resize: none;
}

main .container .card .comentarios p,
main .container .card .card-footer i{
    cursor: pointer;
}